<div class="footer-parallax-container">
  <header
    class="fixed-top bg-transparent menu-transparent scroll-change wide-area"
    data-menu-anima="fade-in"
  >
    <!-- Full Page Image Background Carousel Header -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
        <div class="item active">
          <!-- Set the first background image using inline CSS below. -->
          <div
            class="fill"
            style="
              background-image: url('http://www.marchettidesign.net/demo/optimized-bootstrap/code.jpg');
            "
          ></div>
          <div class="carousel-caption">
            <h2 class="animated fadeInLeft">Caption Animation</h2>
            <p class="animated fadeInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
            <p class="animated fadeInUp">
              <a href="#" class="btn btn-transparent btn-rounded btn-large"
                >Learn More</a
              >
            </p>
          </div>
        </div>
        <div class="item">
          <!-- Set the second background image using inline CSS below. -->
          <div
            class="fill"
            style="
              background-image: url('http://www.marchettidesign.net/demo/optimized-bootstrap/conference.jpg');
            "
          ></div>
          <div class="carousel-caption">
            <h2 class="animated fadeInDown">Caption Animation</h2>
            <p class="animated fadeInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
            <p class="animated fadeInUp">
              <a href="#" class="btn btn-transparent btn-rounded btn-large"
                >Learn More</a
              >
            </p>
          </div>
        </div>
        <div class="item">
          <!-- Set the third background image using inline CSS below. -->
          <div
            class="fill"
            style="
              background-image: url('http://www.marchettidesign.net/demo/optimized-bootstrap/campus.jpg');
            "
          ></div>
          <div class="carousel-caption">
            <h2 class="animated fadeInRight">Caption Animation</h2>
            <p class="animated fadeInRight">
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
            <p class="animated fadeInRight">
              <a href="#" class="btn btn-transparent btn-rounded btn-large"
                >Learn More</a
              >
            </p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </header>
  <div
    class="header-title ken-burn-center white"
    data-parallax="scroll"
    data-bleed="0"
    data-position="top"
    data-natural-height="850"
    data-natural-width="1920"
    data-image-src="assets/images/bg-29.jpg"
  >
    <img src="assets/images/bg-29.jpg" />
    <div class="container">
      <div class="title-base">
        <hr class="anima" />
        <h1>Menu pizza</h1>
        <p>Menu and portfolio</p>
      </div>
    </div>
  </div>
  <div class="section-empty">
    <div class="container content">
      <div class="navbar navbar-inner">
        <div class="navbar-toggle">
          <i class="fa fa-bars"></i><span>Menu</span
          ><i class="fa fa-angle-down"></i>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav nav-center ms-minimal inner">
            <li class="current-active active">
              <a href="#classics">Classic</a>
            </li>
            <li><a href="#seasonals">Seasonals</a></li>
            <li><a href="#white">White</a></li>
            <li><a href="#other">Other</a></li>
          </ul>
        </div>
      </div>
      <hr class="space l" />
      <div id="classics" class="title-base">
        <hr />
        <h2>Classics</h2>
        <p>The original and always good pizzas</p>
      </div>
      <hr class="space m" />
      <div class="grid-list">
        <div class="grid-box row">
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-1.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Margherita classica</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-2.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Vegetables and Peps</h3>
                <span class="extra-content">$ 11.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-3.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Meat Eater</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-4.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Pepperoni & Beef</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-5.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Sausage White</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-6.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Pepperoni & Sausage</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
        </div>
      </div>
      <hr class="space" />
      <div id="seasonals" class="title-base">
        <hr />
        <h2>Seasonals</h2>
        <p>The seasonals limited time pizzas</p>
      </div>
      <hr class="space m" />
      <div class="grid-list">
        <div class="grid-box row">
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-1.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Margherita classica</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-4.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Pepperoni & Beef</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-5.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Sausage White</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-2.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Vegetables and Peps</h3>
                <span class="extra-content">$ 11.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-3.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Meat Eater</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-6.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Pepperoni & Sausage</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
        </div>
      </div>
      <hr class="space" />
      <div id="white" class="title-base">
        <hr />
        <h2>White</h2>
        <p>The white and always good pizzas</p>
      </div>
      <hr class="space m" />
      <div class="grid-list">
        <div class="grid-box row">
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-4.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Pepperoni & Beef</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-1.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Margherita classica</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-2.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Vegetables and Peps</h3>
                <span class="extra-content">$ 11.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-3.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Meat Eater</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-5.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Sausage White</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-6.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Pepperoni & Sausage</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
        </div>
      </div>
      <hr class="space" />
      <div id="other" class="title-base">
        <hr />
        <h2>Other</h2>
        <p>The other extra and always good pizzas</p>
      </div>
      <hr class="space m" />
      <div class="grid-list">
        <div class="grid-box row">
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-1.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Margherita classica</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-3.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Meat Eater</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
          <div class="grid-item col-md-4">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span
                  ><img src="assets/images/gallery/pizza-4.jpg" alt=""
                /></span>
              </a>
              <div class="advs-box-content">
                <h3>Pepperoni & Beef</h3>
                <span class="extra-content">$ 8.75</span>
                <p>
                  Bleached wheat flour, sugar, soy oil, salt, yeast, corn syrup
                  solids, sodium caseinate, mono and diglycerides, enzymes.
                </p>
              </div>
            </div>
            <hr class="space m" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
<footer class="footer-base footer-parallax">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 footer-center">
          <hr class="space s" />
          <img width="180" src="assets/images/logo-2.png" alt="" />
          <hr class="space m" />
          <p>
            We don't care if we're doing haute cuisine or burgers and pizza.<br />We
            just do it right. Always.
          </p>
          <hr class="space s" />
          <div class="btn-group social-group btn-group-icons">
            <a target="_blank" href="#" data-social="share-facebook"
              ><i class="fa fa-facebook"></i
            ></a>
            <a target="_blank" href="#" data-social="share-twitter"
              ><i class="fa fa-twitter"></i
            ></a>
            <a target="_blank" href="#" data-social="share-google"
              ><i class="fa fa-instagram"></i
            ></a>
            <a target="_blank" href="#" data-social="share-linkedin"
              ><i class="fa fa-youtube"></i
            ></a>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-md-12 copy-text">
        © 2017 Gourmet - info@restaurant.com - +02 123458992 - Wall Street
        Avenue 502, New York - Restaurant Template Handmade by
        <a href="http://schiocco.io/">schiocco.io</a>
      </div>
    </div>
  </div>
</footer>
